/* Style for the fancy API documentation */
div.api_intro h1, h2, h3, h4, h5 {
    font-family: helvetica, sans-serif;
 }
 
 div.api_intro h1 {
    text-align: center;
 }
 
 div.api_intro h2 {
   border-top: 3px double red;
   margin: 1em 0;
   padding-top: 5px;
 }
 
 div.api h1, h2, h3, h4, h5 {
    font-family: helvetica, sans-serif;
 }
 
 div.api
 {
   padding-left: 100px;
   border-top: 3px double red;
   margin: 1em 0;
 }
 
 div.api h4
 {
   margin: 0.5em 0px 0px 0px;
 }
 
 div.api .tn
 {
   clear: both;
   float: left;
   margin-left: -100px;
 }
 
 div.section 
 {
   margin-top: 2em;
 }
 
 div.transition {
   width: 90%;  
   height:2em; 
   text:  black; 
   font-weight: bold; 
   background-color: red; 
   padding-left: 100px; 
   font-size: smaller; 
   font-family: helvetica; 
   padding-top:1em;
 }
 
 div.api div.section h5
 {
   clear: both;
   float: left;
   margin: 0px 0px 0px -100px;
   color: red;
   font-size: 0.9em;
 }
 
 table.bits
 {
   text-align: center;  
   border-spacing: 0;
   border-collapse: collapse;
 }
 
 table.bits td
 {
   padding: 5px;
   width: 1em;
   border: 1px solid black;
 }
 
 .intro {
   font-size: smaller;
   border-spacing: 0;
 }
 
 .intro th {
   font-family: helvetica, sans-serif;
   text-align: left;
   padding-top: 1em;
 }
 
 .intro_header th {
   border-top:   1px solid black;
   border-bottom: 1px solid black;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
 }
 
 .intro td {
   padding-right: 1em;
 }
 
 div.warning, div.important
 {
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   font-family: helvetica;
   font-size: small;
   margin-top: 2em;
 }
 
 div.warning:before 
 {
   display: block;
   content: "Warning";
   font-weight: bold;
   margin-top: 1em;
   color: red;
 }
 
 div.important:before
 {
   display: block;
   content: "Important";
   font-weight: bold;
   margin-top: 1em;
 }
 
 .parameters h5 {
   font-family: helvetica;
   color: red;
 }
 
 table.errors 
 {
   border-spacing: 0;
 }
 
 table.errors th {
   font-family: helvetica;
   font-size: smaller;
   color: red;
   text-align: left;
   width: 100px;
   height: 4em;
 }
 
 table.stack
 {
   border: none;
   background-color: none;
   border-spacing: 0;
   margin: 1em 0;
 }

 table.stack tr
 {
    background-color: transparent;
 }

 table.stack th
 {
    background-color: transparent;
    border: none;
   text-align: left;
   height: 2em;
 }

 table.stack th:first-child,
 table.stack td:first-child
 {
     white-space: nowrap;
     width: 12em;
 }

 table.stack td
 {
   border: none;
   background-color: transparent;
   padding: 0.25em 1em;
 }
 
 table.stack em
 {
   font-weight: bold;
   font-style: normal;
   margin-left: .5em;
 }
 
 .stack .top {
   border-left: 2px solid black;
   border-right: 2px solid black;
   font-style: italic;
   text-align: center;
   padding-left: 1em;
   padding-right: 1em;
 }
 
 .stack .bot {
   border-top: 1px solid black;  
   border-left: 2px solid black;
   border-right: 2px solid black;
   font-style: italic;
   text-align: center;  
   padding-left: 1em;
   padding-right: 1em;  
 }